<%- include('./layouts/header') %>
<!--
<h1 class="title">Role Based Access Control</h1>
<div class="tutorial-info">
  <ol class="tutorial-info">
    <li><b>Express JS </b></li>
    <li><b>EJS</b> templating engine</li>
    <li>
      <b>Styling — </b>custom CSS (you can use any like Bootstrap, Bulma,
      Tailwind, etc...)
    </li>
    <li><b> PassportJS </b>local authentication(email, password)</li>
    <li><b>Roles</b> (admin, manager, employee)</li>
    <li><b>Authorization</b> (admin, manager and employee routes)</li>
    <li><b>Mongoose</b> (ORM for MongoDB)</li>
    <li>How to use <b>express sessions</b></li>
    <li>
      Using sessions to <b>persist login </b> after server reboot (using Mongo
      Store)
    </li>
    <li><b>Redirect</b> to same page after login.</li>
    <li><b>Validating</b> user input server side</li>
    <li><b>Flash messages</b></li>
    <li>Handling <b>HTTP error</b> (ex: 404, etc)</li>
    <li>Somethings are always extra 😊</li>
  </ol>
</div>
-->

<div>
  <canvas id="transactionsChart" width="1200"></canvas>
</div>

<div>
  <canvas id="ordersChart" width="1200"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('transactionsChart');

  const config = {
    type: 'line',
    data: JSON.parse('<%- JSON.stringify(transactionsChartData) %>'),
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Revenue over time'
        },
      },
    },
  };

  new Chart(ctx, config);

  const ordersCtx = document.getElementById('ordersChart');

  const ordersConfig = {
    type: 'bar',
    data: JSON.parse('<%- JSON.stringify(ordersChartData) %>'),
    options: {
      responsive: true,
      plugins: {
        title: {
          display: true,
          text: 'Top Selling Menu Items (Last 30 Days)'
        },
        legend: {
          display: false
        }
      },
      scales: {
        x: {
          title: {
            display: true,
            text: 'Menu Item'
          }
        },
        y: {
          title: {
            display: true,
            text: 'Quantity Sold'
          },
          beginAtZero: true
        }
      }
    }
  };

  new Chart(ordersCtx, ordersConfig);

</script>

<%- include('./layouts/footer') %>
